<div class="container">
  <div class="content">
    <div class="section">
        <img src="/assets/profile.png" alt="default user" />
    <h3>User Info:</h3>
      <div class="flex">
        <p [style]="{ fontWeight: 'bold' }">Username:</p>
        <p>{{ userData.username }}</p>
      </div>
      <div class="flex">
        <p [style]="{ fontWeight: 'bold' }">Email:</p>
        <p>{{ userData.email }}</p>
      </div>
      <div class="offers-section">
      <h3>Car Offers:</h3>
      <div class="car-offers">
        <div *ngFor="let car of userCars" class="car-offer">
          <img src="{{car.image}}" alt="Car 1" routerLink="/cars/details/{{car._id}}" />
          <div class="details">
            <p><strong>Make:</strong> {{car.make}}</p>
            <p><strong>Model:</strong> {{car.model}}</p>
            <p><strong>Year:</strong> {{car.year}}</p>
            <p><strong>Price:</strong> {{car.price | currencyFormater}}</p>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
