.container {
    position: relative;
}

.content {
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.section {
    background-color: white;
    -webkit-box-shadow: 0 0 8px gray;
    filter: drop-shadow(gray 0 0 3px);
    width: fit-content;
    padding: 20px;
    width: 700px;
    height: max-content;
}

img{
    width: 200px;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
}

p{
    padding-left: 7px;
}


.car-offers {
  display: flex;
  flex-wrap: wrap;
}

.car-offer {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.car-offer img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.car-offer .details p {
  margin: 0;
}