<div class="container">
  <div class="content">
    <h1 class="page-title">Catalog</h1>
    <div class="search">
      <form [formGroup]="searchForm" (ngSubmit)="filterCars()">
        <input type="text" formControlName="make" placeholder="Enter make" />
        <input type="text" formControlName="year" placeholder="Enter year" />
        <input type="text" formControlName="minPrice" placeholder="Enter min price"/>
        <input type="text" formControlName="maxPrice" placeholder="Enter max price"/>
        <button type="submit">Search</button>
      </form>
    </div>
    <app-loader *ngIf="isLoading" class="loader"></app-loader>
    <ng-container *ngIf="!isLoading">
    <div class="not-found" *ngIf="!result">No cars found.</div>
    <div class="demo" *ngFor="let car of allCars">
      <div class="left">
        <img src="{{ car.image }}" />
        <img *ngIf="car.buyer?.length! > 0" class="sold" src="/assets/sold.png" />
      </div>
      <div class="right">
        <h1>{{ car.make }} {{ car.model }}</h1>
        <div class="car-data">
          <div class="left-data">
            <p><span>Year:</span> {{ car.year }}</p>
            <p><span>Mileage:</span> {{ car.mileage }}km</p>
            <p><span>Power:</span> {{ car.power }}hp</p>
            <p><span>Type:</span> {{ car.category }}</p>
            <p><span>City:</span> {{ car.location }}</p>
          </div>
          <div class="right-data">
            <p>
              <span class="price-tag">Price: {{ car.price | currencyFormater }}BGN</span>
            </p>
            <button
              class="button-details"
              routerLink="/cars/details/{{ car._id }}"
            >
              Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  </div>
</div>
