<div class="container">
  <div>
    <ul>
      <li routerLink="/">Home</li>
      <li routerLink="/cars/catalog">Catalog</li>
      <ng-container *ngIf="isLoggedIn">
        <li routerLink="/cars/sell">Sell</li>
      </ng-container>
    </ul>
  </div>
  <div>
    <ul>
      <ng-container *ngIf="isLoggedIn">
        <li routerLink="/users/profile">Profile</li>
        <li (click)="logout()">Logout</li>
      </ng-container>
      <ng-container *ngIf="!isLoggedIn">
        <li routerLink="/users/login">Login</li>
        <li routerLink="/users/register">Register</li>
      </ng-container>
    </ul>
  </div>
</div>
