<div class="container">
    <div class="content">
      <app-loader *ngIf="isLoading" class="loader"></app-loader>
      <ng-container *ngIf="!isLoading">
      <h1 class="page-title">{{carData?.make}} {{carData?.model}}</h1>   
      <p class="price"><span class="price-tag" >Price: {{carData?.price! | currencyFormater}}BGN</span></p>
      <div class="demo">
          <div class="left">
              <img class="main-img" [src]="imageUrl">
              <div class="thumbnail">
                <img *ngFor="let img of carData?.additionalImages" (click)="changeImage(img.url)" src="{{img.url}}">          
              </div>
              <button class="arrow left-arrow" (click)="navigateImage(-1)">&#10094;</button>
              <button class="arrow right-arrow" (click)="navigateImage(1)">&#10095;</button>
          </div>
          <div class="right">
              <div class="car-data">
                  <div class="left-data">
                      <p><span>Make:</span> {{carData?.make}}</p>
                      <p><span>Model:</span> {{carData?.model}}</p>
                      <p><span>Year:</span> {{carData?.year}}</p>
                      <p><span>Engine Type:</span> {{carData?.engineType}}</p>
                      <p><span>Power:</span> {{carData?.power}}</p>
                      <p><span>Gearbox:</span> {{carData?.gearbox}}</p>
                      <p><span>Category:</span> {{carData?.category}}</p>
                      <p><span>Mileage:</span> {{carData?.mileage}}km</p>
                      <p><span>Color:</span> {{carData?.color}}</p>
                      <p><span>Location:</span> {{carData?.location}}</p>
                  </div>
                  <div class="right-data">
                      <!-- <p><span class="price-tag">Price: {{carData?.price}}BGN</span></p> -->
                      <p><span>Description:</span> {{carData?.description}}</p>
                    </div>
                </div>
                <div class="btns" *ngIf="isLoggedIn">
                    <!-- <ng-container *ngIf="!isBought && !isBuyer"> -->
                        <ng-container *ngIf="isOwner">
                            <button class="button-details" [disabled]="isBought" [routerLink]="isBought ? null : '/cars/details/' + carData?._id + '/edit'">Edit</button>
                            <button class="button-details" (click)="deleteCar(carData?._id)">Delete</button>
                        </ng-container>
                        <ng-container *ngIf="!isOwner && !isBought">
                            <button class="button-details" (click)="buyCar(carData?._id!)">Buy</button>
                        </ng-container>
                    <!-- </ng-container> -->
                    <ng-container *ngIf="isBought && !isBuyer && !isOwner"><p class="bought">Car already bought!</p></ng-container>
                    <ng-container *ngIf="!isBought && isBuyer"><p class="bought">You already bought this car!</p></ng-container>
              </div>
          </div>
      </div>
      </ng-container>
    </div>
  </div>

