.container {
  position: relative;
}

.content {
  display: block;
  max-width: fit-content;
  text-align: center;
  margin: 0 auto;
  max-width: 1400px;
}

.demo {
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 40px;
  border-radius: 2rem;
  display: flex;
  height: 750px;
}

.page-title {
  font-size: 60px;
}

.main-img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-top-left-radius: 2rem;
}

.thumbnail img {
  padding-top: 20px;
  width: 200px;
  height: 120px;
  padding-left: 10px;
  object-fit: cover;
  cursor: pointer;
}

.left {
  position: relative;
  background-image: linear-gradient(180deg, white, rgb(187, 181, 181));
  width: 50%;
}

.right {
  background-image: linear-gradient(180deg, white, rgb(187, 181, 181));
  width: 50%;
  text-align: center;
}

.car-data {
  display: flex;
  justify-content: space-around;
  height: 85%;
}

.left-data p {
  text-align: start;
  margin-top: 0px;
}

.left-data {
  margin-left: 40px;
  width: 40%;
}

.right-data {
  width: 60%;
  margin-right: 20px;
}

p.price {
  display: flex;
  padding-top: 0px;
  padding-bottom: 80px;
  max-width: 1200px;
  justify-content: end;
  margin: 0 auto;
}

p.price span {
  font-weight: bold;
  background-color: green;
  color: white;
  border-radius: 2rem;
  padding: 10px;
}

span {
  font-weight: bold;
}

span.price-tag {
  font-size: 30px;
  text-align: center;
}

.right-data p {
  margin: 0;
  text-align: center;
}

.details {
  width: 50%;
  margin-top: 40px;
  background-color: gray;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.btns {
   height: 15%;
}

/*  */

.button-details {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  height: 52px;
  justify-content: center;
  line-height: 1;
  margin-left: 20px;
  outline: none;
  overflow: hidden;
  padding: 0 38px;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 150ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-details:hover:not(:disabled) {
  box-shadow: rgba(0, 1, 0, 0.2) 0 2px 8px;
  opacity: 0.85;
}

.button-details:active {
  outline: 0;
}

.button-details:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 3px;
}

.button-details:disabled {
  cursor: not-allowed;
}

@media (max-width: 420px) {
  .button-84 {
    height: 48px;
  }
}

.loader {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 200px;
  height: 200px;
}

.left-data, .right-data p {
  margin-top: 30px;
}

p.bought {
  font-size: 30px;
  color: red;
  font-weight: bold;
}

.arrow {
    position: absolute;
    top: 25%;
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}
